<h1>Shopping cart</h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="">Showcase</a></li>
    <li class="breadcrumb-item active" aria-current="page">Shopping cart</li>
  </ol>
</nav>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Subtotal</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{product.title}}</td>
      <td>{{currencySign}}{{product.price}}</td>
      <td>{{product.quantity}}</td>
      <td>{{currencySign}}{{getSubtotal(product)}}</td>
      <td>
        <button type="button" class="btn btn-primary" (click)="onRemoveProduct(product)">remove</button>
      </td>
    </tr>
    <tr>
      <td colspan="3">Total:</td>
      <td colspan="2">{{currencySign}}{{total}}</td>
    </tr>
  </tbody>
</table>

